.button-cta {
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  margin: 0;
  background-color: transparent;
  color: black;
  transition: all 0.2s;

  &__label {
    font-size: var(--text-size-highlights);
  }

  &:hover {
    background-color: color-mix(in srgb, var(--primary) 20%, transparent);
  }
}
