.navigation {
  background-color: white;

  &__trigger {
    display: none;
  }

  &__container {
    grid-area: navigation;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0;
  }

  &__logo {
    grid-column: span 3;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: end;
    grid-column: span 9;
    max-width: 100%;
  }

  &__link {
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--primary);
      border-radius: 5px;
      color: white;
    }

    &.active {
      background-color: color-mix(in srgb, var(--primary) 90%, transparent);
      color: white;

      &:hover {
        background-color: var(--primary);
      }
    }
  }
}

@media (max-width: 768px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .navigation {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;

    &__trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: span 12;
      padding: 10px;

      svg {
        width: 35px;
      }
    }

    &__logo {
      width: 300px;
      max-width: 100%;
      align-self: center;
      justify-self: center;
      grid-column: span 12;
    }

    &__links {
      display: none;
    }
  }
}
