.navigation {
  background-color: white;

  &__container {
    grid-area: navigation;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 0;
  }

  &__logo {
    grid-column: span 3;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: end;
    grid-column: span 9;
    max-width: 100%;
  }

  &__link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}

/* Media Queries */
@media (max-width: 768px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .navigation {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

    &__logo {
      width: 300px;
      max-width: 100%;
      align-self: center;
      justify-self: center;
      grid-column: span 1;
    }

    &__links {
      flex-direction: column;
      grid-column: span 1;
    }
  }
}
